<footer class="footer text-center">
	<div class="container">
		<p>Copyright &copy; 2026. All rights reserved.</p>
		<p>Réalisé par
			<span class="text-danger">&hearts;</span>
			Le Cagou du web</p>
	</div>
</footer>
