<header>
	<nav class="navbar navbar-expand-lg navbar-dark navbar-modern">
		<div class="container">
			<a class="navbar-brand logo" href="{{ path('home') }}">
				<i class="fas fa-code text-primary"></i>
				TCG Yu-Gi-Oh
			</a>

			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav4">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarNav4">
				<ul class="navbar-nav ms-auto">
					<li class="nav-item">
						<a class="nav-link" href="#">Chercher une carte</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Ma collection</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">
							<i class="fab fa-github"></i>
						</a>
					</li>
					<li class="nav-item">
						<a class="btn btn-outline-primary ms-2" href="#">Connexion</a>
					</li>
					<li class="nav-item">
						<a class="btn btn-primary ms-2" href="#">Inscription</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>
